<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add / Edit Teams</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body style="background-color:orange;">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Football Teams</h1>
    </div>
  </div>

  <form th:action="@{/save-team}" th:object="${team}" method="post">
    <input type="hidden" th:value="${team.id}" name="id"/>
    <div class="form-group">
      <label for="name">Football Team Name:</label>
      <input th:field="*{teamName}" type="text" class="form-control" id="name">
      <label th:style="'color:red'" th:if="${#fields.hasErrors('teamName')}" th:errors="*{teamName}"></label>
    </div>

    <div class="form-group">
      <label for="name">WorldRating</label>
      <input th:field="*{worldRating}" type="text" class="form-control" id="team">
      <label th:style="'color:red'" th:if="${#fields.hasErrors('worldRating')}" th:errors="*{worldRating}"></label>
    </div>

    <div class="form-group">
      <label for="name">Team Home League:</label>
      <input th:field="*{teamLeague}" type="text" class="form-control" id="transfer">
      <label th:style="'color:red'" th:if="${#fields.hasErrors('teamLeague')}" th:errors="*{teamLeague}"></label>
    </div>


    <div class="form-group">
      <label for="name">Team Country:</label>
      <input th:field="*{teamCountry}" type="text" class="form-control" id="country">
      <label th:style="'color:red'" th:if="${#fields.hasErrors('teamCountry')}" th:errors="*{teamCountry}"></label>
    </div>

    <div class="form-group">
      <label for="name">Team Stadium:</label>
      <input th:field="*{teamStadium}" type="text" class="form-control" id="stadium">
      <label th:style="'color:red'" th:if="${#fields.hasErrors('teamStadium')}" th:errors="*{teamStadium}"></label>
    </div>

    <div class="form-group">
      <label for="date">Date:</label>
      <input th:field="*{date}" type="text" class="form-control" id="date">
      <label th:style="'color:red'" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></label>
    </div>
    <a th:href="@{/teams-ui}">
      <button type="button" class="btn btn-danger">Cancel</button>
    </a>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
</body>
</html>
